<!DOCTYPE html>
<html>
    <head>
        @section css{
        <link rel="stylesheet" type="text/css" href="~\css\home.css">
        }
    </head>

    <body>
        <img src="..\images\slider\vinhos1.jpg" class="img-fluid" alt="Responsive image">
    </body>
</html>

<!-- @{
    ViewData["Title"] = "Home Page";
}
 -->


